
//
// BANNER
//
body {
    margin-top: 50px;
}
.header {
	height: 44px;
	background-image: url("resources/webimage/banner.png");
	background-color: #353535;
	border-bottom: 2px solid #434343;
}
.banner {
	color: white;
	font-size: 22px;
	margin-top: 8px;
	margin-left: 2%;
}
.avatar {
    float: left; 
    margin-top: 3px;
    height: 22px;
    padding: 0px 10px 0px 0px;
}
.github .github-tag {
	margin-top: 6px;
	margin-right: 2%;
	line-height: 14px;
	font-size: 14px;
}

/* Colors, Shadows */ 
.header {
	left: 0;
	top: 0px;
	z-index: 100;
	width: 100%;
	position: fixed;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.banner {
	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	float: left;
	display: inline;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.github .github-tag {
	font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	float: right;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 6px 6px;
	border: 1px solid #5d910b;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93bd20), color-stop(100%, #659e10));
	background: -webkit-linear-gradient(#93bd20, #659e10);
	background: -moz-linear-gradient(#93bd20, #659e10);
	background: -o-linear-gradient(#93bd20, #659e10);
	background: -ms-linear-gradient(#93bd20, #659e10);
	background: linear-gradient(#93bd20, #659e10);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	-o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
	background-color: #93bd20;
}
.github .github-tag:hover {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #749619), color-stop(100%, #527f0e));
	background: -webkit-linear-gradient(#749619, #527f0e);
	background: -moz-linear-gradient(#749619, #527f0e);
	background: -o-linear-gradient(#749619, #527f0e);
	background: -ms-linear-gradient(#749619, #527f0e);
	background: linear-gradient(#749619, #527f0e);
	background-color: #659e10;
	border: 1px solid #527f0e;
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	-o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}
